---
layout: default
---

<div class="home">

    {% for post in site.posts %}
    <div class="box-item">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>
          {{post.excerpt}}
        </p>
        {% for category in post.categories %}
            <a class="tag">{{category}}</a>
        {% endfor %}
      </div>
    {% endfor %}

</div>
